@model IEnumerable<MyGym.Data.Entities.Alimento>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainLayout.cshtml";   
}
<a href="/Food/Create">Nuevo Alimento</a>
<h1>Alimentos</h1>
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <span class="badge">
                <a href="/Group/Delete?groupid=@item.AlimentoID" style="color:white;">Eliminar</a>
            </span>
            <span class="badge">
                <a href="/Group/Edit?groupid=@item.AlimentoID" style="color:white;">Editar</a>
            </span>
            <label>@item.Nombre</label>
            @*<a href="/Group/Get?groupid=@item.GrupoID" >@item.Nombre</a>*@
        </li>
    }
</ul>