<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Public/css/metro-bootstrap.css" rel="stylesheet" />
    <script src="~/Public/jquery.js"></script>
    <script type="text/javascript">
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    </script>
</head>
<body style="margin: 50px 100px; align-content: center">
    <header>
        <ul class="nav nav-pills" style="float: right;">
            <li class="active"><a href="/">Inicio</a></li>
            <li><a href="/Home/API">API</a></li>
        </ul>
        <h1>myGym</h1>
    </header>
    <section>
        
    </section>
    <section style="padding:20px;">
        @RenderBody()
    </section>
    <footer>

    </footer>
</body>
</html>
